.main{
    border:solid 11px green;
  height:700px;
    display:flex;
    flex-direction: column;
    justify-content:start;
    align-items:center;
    
  
}
body{
   margin:0px;
}
.item{
    font-size:30px;
    margin:4px;
    border:5px solid green;
    background-color:rgb(19, 106, 19); 
    height:70px;
    width:70px;
    display:flex;
    justify-content: center;
}


