.tagesschrift-regular {
  font-family: "birthstone", system-ui;
  font-weight: 400;
  font-style: normal;
}


body{
    background:linear-gradient(#a2d2ff, pink);
    color:#ffffff;
     font-family: "birthstone", system-ui;
    text-align: center;
    text-shadow:0px 0px 1px black;
}

.pic{
    width:200px;
    height:200px;
    border-radius:50%;
    border: solid #EFB0C9 6px;
}
#bday-year{
    background-color:#EFB0C9;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:right;
    padding:5px 10px;
     border-radius:4px;
}
#bday-date {
    background-color:#EFB0C9;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:right;
    padding:5px 10px;
    border-radius:4px;
}
#birth{
    display:flex;
    flex-direction:column;
    align-items:center;
}
img{
    width:450px;
    height:450px;
    border:solid rgb(247, 247, 226) 5px;
    border-radius:5px;

}
.image1{
    width:450px;
    height:450px;
    border:solid rgb(247, 247, 226) 5px;
    border-radius:5px;
    background-image:url(images/birthday.jpg);
    background-size: cover;
}
:hover .image1{
    background-image:url(images/universe.jpg);
   
    margin:0px auto;
}
.image2{
    width:450px;
    height:450px;
    border:solid rgb(247, 247, 226) 5px;
    border-radius:5px;
     background-image:url(images/birthday.jpg);
    background-size: cover;
}
:hover .image2{
    background-image:url(images/200w.webp)
}
#foot{
    text-align:center;
    font-style: italic;
    margin:9px auto;
}
a{
    color:white;
}