.pic{
    width:150px;
    height:190px;
}
.main{
    display:flex;
    justify-content:space-around;
    border-bottom:4px solid;
    border-color: violet;
    margin-top:25px;
    padding-top:25px;
    padding-bottom:25px;
    background-color:rgb(129, 240, 240);
    width:500px;
    margin:0 auto;
    font-family:'Times New Roman', Times, serif;
}
.space{
    text-align:center;
}
input{
    width:100px;
    height:100px;
    border-radius:70px;
    background-color:brown;
    border:none;
    margin:70px 170px 50px 90px; 
}