img{
   display:block; 
   margin-top:100px;
   margin-left: auto;
   margin-right: auto;
}
input{
    width:400px;
    height:34px;
    border-radius:20px;
    border-color:#dfe1e5;
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    margin-top:24px;
}
 .bttn{
   margin-left:16px;
   margin-right:16px;
   padding:7px;
   padding-right:9px;
   padding-left:9px;
   border: 0 ;
   background-color:#dfe1e5;
   border-radius:5px; 
  
 }
 .bttn-wrapper{
   display:flex;
   justify-content:center;
 }
