body{
    
    color:rgb(149, 198, 231);
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
#main{
    background-image:url("images/200w.webp");
    background-size:cover;
    padding:0 0 250px;
    text-shadow: 0px 0px 4px  black;
}
.bttn{
    margin-top:21px;
    padding:5px 12px;
    font-style:oblique;
    background-color:white;
    border:none;
    font-family:inherit;
    color:inherit;
    font-weight:bold;
}
.underline{
    border-bottom:3.5px solid white;
}

#spaceX{
    width:250px;
    height:120px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
}
h3{
    margin-top:31px;
}