.main{
    background-color:green;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:5.5px 5px 7px 7px;
    text-align:center;
    margin-left:100px;
    margin-right:100px;
    border:solid 29px lightgreen;

}
.nice{
   
    background-color:rgb(67, 47, 11);
}